.body
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 100%;
}
.MPButton
{
    position: absolute;
    top: 13%;
    left: 0.5%;
    font-family: Times;
    font-size: x-large;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}
.FeedbackButton
{
    position: absolute;
    top: 13%;
    left: 9.25%;
    font-family: Times;
    font-size: x-large;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}
.MainTitle
{
    position: absolute;
    top: 1%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Times;
}
.TitleUnderline
{
    position: absolute;
    top: 8%;
    left: 0.5%;
    width: 99%;
    height: 0.25%;
    background: rgb(75, 75, 75);
}

/*Media Separation*/

@media only screen and (max-width: 600px) {
    .wrapper
    {
        width: 600px;
        margin: 0 auto;
    }
    .MPButton
    {
        top: 10%;
        left: 2%;
        font-size: 17px;
    }
    .FeedbackButton
    {
        top: 10%;
        left: 25%;
        font-size: 17px;
    }
    .MainTitle
    {
        font-size: 30px;
    }
    .TitleUnderline
    {
        left: 2%;
        width: 96%;
        top: 5%;
    }
}