body
{
    background: rgb(0, 0, 0);
    padding: 0;
    overflow: hidden;
}
.wrapper
{
    width: 100%;
}
.LinksWrapper
{
    position: absolute;
    top: 36.65%;
    left: 0.5%;
    background: rgb(10, 10, 10);
    color: white;
    width: 20%;
    height: 62.5%;
    border: none;
    text-wrap: nowrap;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    line-height: 75px;
    font-family: Times;

    transition: all;
    transition-duration: 0.5s;
}
.TwitterB
{
    margin-top: 13.75%;
    margin-left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    text-indent: 25%;
    background: rgb(0, 0, 150) image-set("TwitterLogo.png") no-repeat;
    background-size: 25%;
    background-position-y: 50%;
    background-position-x: 15%;
    line-height: 52.5px;

    transition: all;
    transition-duration: 0.25s;
}
.TwitterBCover
{
    position: absolute;
    margin-top: -28.25%;
    left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    background: white;
    opacity: 0;
}
.YTB
{
    margin-top: 13.75%;
    margin-left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    text-indent: 25%;
    background: rgb(150, 0, 0) image-set("YoutubeLogo.png") no-repeat;
    background-size: 25%;
    background-position-y: 50%;
    background-position-x: 15%;
    line-height: 52.5px;

    transition: all;
    transition-duration: 0.25s;
}
.YTBCover
{
    position: absolute;
    margin-top: -28.25%;
    left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    background: white;
    opacity: 0;
}
.TwitchB
{
    margin-top: 13.75%;
    margin-left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    text-indent: 25%;
    background: rgb(75, 0, 100) image-set("TwitchLogo.png") no-repeat;
    background-size: 35%;
    background-position-y: 50%;
    background-position-x: 12.5%;
    line-height: 52.5px;

    transition: all;
    transition-duration: 0.25s;
}
.TwitchBCover
{
    position: absolute;
    margin-top: -28.25%;
    left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    background: white;
    opacity: 0;
}
.DiscordB
{
    margin-top: 13.75%;
    margin-left: 10%;
    left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    text-indent: 25%;
    background: rgb(50, 50, 255) image-set("DiscordLogo.png") no-repeat;
    background-size: 17.5%;
    background-position-y: 50%;
    background-position-x: 20%;
    line-height: 52.5px;

    transition: all;
    transition-duration: 0.25s;
}
.DiscordBCover
{
    position: absolute;
    margin-top: -28.25%;
    left: 10%;
    height: 10.5%;
    width: 80%;
    border-radius: 10px;
    background: black;
    opacity: 0;
}
.MainTitle
{
    position: absolute;
    top: 1%;
    border-left: 2px solid rgb(75, 75, 75);
    border-right: 2px solid rgb(75, 75, 75);
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Times;
}
.TitleUnderline
{
    position: absolute;
    top: 8%;
    left: 0.5%;
    width: 99%;
    height: 0.25%;
    background: rgb(75, 75, 75);
}
.SubtitlesTop
{
    position: absolute;
    top: 13%;
    color: rgb(255, 255, 255);
    font-family: Arial;
}
.SubtitlesBottom
{
    position: absolute;
    top: 15.7%;
    color: rgb(255, 255, 255);
    font-family: Arial;
}
.ZSChangelog
{
    position: absolute;
    top: 55%;
    left: 83.5%;
    transform: translate(-50%, -50%);
    background: rgb(10, 10, 10);
    text-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    width: 25%;
    height: 75%;
    padding: 25px;
    color: rgb(0, 255, 0);
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    font-family: Times;

    transition: all;
    transition-duration: 0.5s;
}
::-webkit-scrollbar
{
    background: rgb(15, 15, 15);
}
::-webkit-scrollbar-thumb
{
    background: rgb(25, 25, 25);
}
::-webkit-scrollbar-thumb:hover
{
    background: rgb(20, 20, 20);
    cursor: pointer;
}
.pagesWrapper
{
    position: absolute;
    top: 3.3%;
    left: 31.5%;
    background: transparent;
    font-family: Times;
}
.Page1
{
    position: relative;
    background: transparent;
    font-size: 20px;
    color: rgb(0, 255, 255);
    opacity: 0.5;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17.75px;
    padding-bottom: 17.75px;
    border-right: 2px solid rgb(75, 75, 75);
    border-left: 2px solid rgb(75, 75, 75);
}
.Page2
{
    position: relative;
    background: transparent;
    font-size: 20px;
    color: rgb(0, 255, 255);
    opacity: 0.5;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17.75px;
    padding-bottom: 17.75px;
    border-right: 2px solid rgb(75, 75, 75);
    border-left: 2px solid rgb(75, 75, 75);
}
.Page3
{
    position: relative;
    background: transparent;
    font-size: 20px;
    color: rgb(0, 255, 255);
    opacity: 0.5;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17.75px;
    padding-bottom: 17.75px;
    border-right: 2px solid rgb(75, 75, 75);
    border-left: 2px solid rgb(75, 75, 75);
}
.Page4
{
    position: relative;
    background: transparent;
    font-size: 20px;
    color: rgb(0, 255, 255);
    opacity: 0.5;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17.75px;
    padding-bottom: 17.75px;
    border-right: 2px solid rgb(75, 75, 75);
    border-left: 2px solid rgb(75, 75, 75);
}
.Page5
{
    position: relative;
    background: transparent;
    font-size: 20px;
    color: rgb(0, 255, 255);
    opacity: 0.5;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17.75px;
    padding-bottom: 17.75px;
    border-right: 2px solid rgb(75, 75, 75);
    border-left: 2px solid rgb(75, 75, 75);
}
.dockSwitcher
{
    position: absolute;
    top: -1.7%;
    left: 23.7%;
    background: transparent;
    width: 4.5%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    display: none;
    color: rgb(0, 255, 255);
    opacity: 0.5;
    font-family: Times;
}
.pageSwitcher
{
    position: absolute;
    top: -1.7%;
    left: 23.7%;
    background: rgb(15, 15, 15);
    width: 4.5%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 255, 255);
    opacity: 0.5;
    font-family: Times;
}
.CSMPanelB
{
    position: absolute;
    top: -1.7%;
    left: 31.9%;
    background: rgb(15, 15, 15);
    width: 30.25%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    color: red;
    display: none;
    opacity: 0.5;
    font-family: Times;
}
.OSMPanelB
{
    position: absolute;
    top: -1.7%;
    left: 31.9%;
    background: rgb(15, 15, 15);
    width: 30.25%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    display: none;
    color: rgb(0, 255, 0);
    opacity: 0.5;
    font-family: Times;
}
.CChangelogB
{
    position: absolute;
    top: -1.7%;
    left: 65.9%;
    background: rgb(15, 15, 15);
    width: 30.25%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    color: red;
    display: none;
    opacity: 0.5;
    font-family: Times;
}
.OChangelogB
{
    position: absolute;
    top: -1.7%;
    left: 65.9%;
    background: rgb(15, 15, 15);
    width: 30.25%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    color: rgb(0, 255, 0);
    display: none;
    opacity: 0.5;
    font-family: Times;
}
.Z4ckStudiosLED
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.PHLightenBackground
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 100%;
    height: 102.5%;
    display: none;
    overflow: hidden;
}
.C1
{
    font-size: 18px;
}
.C2
{
    font-size: 18px;
}
.C3
{
    font-size: 18px;
}
.C4
{
    font-size: 18px;
}
.C5
{
    font-size: 18px;
}
.C6
{
    font-size: 18px;
}
.C7
{
    font-size: 18px;
}
.C8
{
    font-size: 18px;
}
.C9
{
    font-size: 18px;
}
.C10
{
    font-size: 18px;
}
.C11
{
    font-size: 18px;
}
.C12
{
    font-size: 18px;
}
.C13
{
    font-size: 18px;
}
.C14
{
    font-size: 18px;
}
.C15
{
    font-size: 18px;
}
.C16
{
    font-size: 18px;
}
.C17
{
    font-size: 18px;
}
.C18
{
    font-size: 18px;
}
.C19
{
    font-size: 18px;
}
.C20
{
    font-size: 18px;
}
.C21
{
    font-size: 18px;
}
.C22
{
    font-size: 18px;
}
.C23
{
    font-size: 18px;
}
.C24
{
    font-size: 18px;
}
.C25
{
    font-size: 18px;
}
.C26
{
    font-size: 18px;
}
.C27
{
    font-size: 18px;
}
.C28
{
    font-size: 18px;
}
.C29
{
    font-size: 18px;
}
.C30
{
    font-size: 18px;
}
.C31
{
    font-size: 18px;
}
.C32
{
    font-size: 18px;
}
.C33
{
    font-size: 18px;
}
.C34
{
    font-size: 18px;
}
.C35
{
    font-size: 18px;
}
.C36
{
    font-size: 18px;
}
.C37
{
    font-size: 18px;
}
.C38
{
    font-size: 18px;
}
.C39
{
    font-size: 18px;
}
.C40
{
    font-size: 18px;
}
.C41
{
    font-size: 18px;
}
.C42
{
    font-size: 18px;
}
.C43
{
    font-size: 18px;
}
.C44
{
    font-size: 18px;
}
.C45
{
    font-size: 18px;
}
.C46
{
    font-size: 18px;
}
.C47
{
    font-size: 18px;
}
.C48
{
    font-size: 18px;
}
.C49
{
    font-size: 18px;
}
.C50
{
    font-size: 18px;
}
.C51
{
    font-size: 18px;
}
.portraitInformative
{
    display: none;
}
.POIBackground
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 106%;
    background: linear-gradient(black, rgb(50, 0, 0), black, black, rgb(0, 0, 50), black);
}
.portraitInformative li
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    list-style: none;
    text-wrap: wrap;
    width: 80%;
    text-align: center;
}
.wrapper
{
    display: inline;
}
@media only screen and (max-width: 900px) {
    .wrapper {
        display: none;
    }
    .portraitInformative {
        display: inline;
    }
}
@media only screen and (max-height: 700px) {
    .wrapper {
        display: inline;
    }
    .portraitInformative {
        display: none;
    }
    .MainTitle {
        font-size: 18px;
    }
    .TitleUnderline {
        top: 4%;
    }
    .Z4ckStudiosLED {
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
    }
    .PHLightenBackground {
        display: inline;
        opacity: 0.05;
    }
    .pageSwitcher {
        left: 22%;
        width: 3.5%;
        height: 3%;
        padding: 5px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(25, 25, 25);
    }
    .dockSwitcher {
        left: 22%;
        width: 3.5%;
        height: 3%;
        padding: 5px;
        font-size: 10px;
        border-radius: 5px;
    }
    .pagesWrapper {
        position: absolute;
        top: 1%;
        left: 28%;
        background: transparent;
        font-family: Times;
    }
    .Page1 {
        height: 3%;
        padding: 5px;
        font-size: 10px;
    }
    .Page2 {
        height: 3%;
        padding: 5px;
        font-size: 10px;
    }
    .Page3 {
        height: 3%;
        padding: 5px;
        font-size: 10px;
    }
    .Page4 {
        height: 3%;
        padding: 5px;
        font-size: 10px;
    }
    .Page5 {
        height: 3%;
        padding: 5px;
        font-size: 10px;
    }
    .CSMPanelB {
        left: 28%;
        width: 34%;
        height: 3%;
        padding: 5px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(25, 25, 25);
    }
    .OSMPanelB {
        left: 28%;
        width: 34%;
        height: 3%;
        padding: 5px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(25, 25, 25);
    }
    .CChangelogB {
        left: 64%;
        width: 34%;
        height: 3%;
        padding: 5px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(25, 25, 25);
    }
    .OChangelogB {
        left: 64%;
        width: 34%;
        height: 3%;
        padding: 5px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(25, 25, 25);
    }
    .SubtitlesTop {
        top: 12%;
        font-size: 10px;
    }
    .SubtitlesBottom {
        font-size: 10px;
    }
    .LinksWrapper {
        top: 31%;
        width: 17.5%;
        height: 67.5%;
        background: rgb(30, 30, 30);
        font-size: 12px;
        line-height: 40px;
    }
    .TwitterB {
        margin-top: 5%;
        height: 11%;
        line-height: 24px;
    }
    .TwitterBCover {
        height: 11%;
    }
    .YTB {
        margin-top: 12.5%;
        height: 11%;
        line-height: 24px;
    }
    .YTBCover {
        height: 11%;
    }
    .TwitchB {
        margin-top: 12.5%;
        height: 11%;
        line-height: 24px;
    }
    .TwitchBCover {
        height: 11%;
    }
    .DiscordB {
        margin-top: 12.5%;
        height: 11%;
        line-height: 24px;
    }
    .DiscordBCover {
        height: 11%;
    }
    .ZSChangelog
    {
        top: 60%;
        margin-left: 4%;
        background: rgb(30, 30, 30);
        font-size: 11px;
        height: 60%;
        width: 17.5%;
        line-height: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .C1
    {
        font-size: 10px;
    }
    .C2
    {
        font-size: 10px;
    }
    .C3
    {
        font-size: 10px;
    }
    .C4
    {
        font-size: 10px;
    }
    .C5
    {
        font-size: 10px;
    }
    .C6
    {
        font-size: 10px;
    }
    .C7
    {
        font-size: 10px;
    }
    .C8
    {
        font-size: 10px;
    }
    .C9
    {
        font-size: 10px;
    }
    .C10
    {
        font-size: 10px;
    }
    .C11
    {
        font-size: 10px;
    }
    .C12
    {
        font-size: 10px;
    }
    .C13
    {
        font-size: 10px;
    }
    .C14
    {
        font-size: 10px;
    }
    .C15
    {
        font-size: 10px;
    }
    .C16
    {
        font-size: 10px;
    }
    .C17
    {
        font-size: 10px;
    }
    .C18
    {
        font-size: 10px;
    }
    .C19
    {
        font-size: 10px;
    }
    .C20
    {
        font-size: 10px;
    }
    .C21
    {
        font-size: 10px;
    }
    .C22
    {
        font-size: 10px;
    }
    .C23
    {
        font-size: 10px;
    }
    .C24
    {
        font-size: 10px;
    }
    .C25
    {
        font-size: 10px;
    }
    .C26
    {
        font-size: 10px;
    }
    .C27
    {
        font-size: 10px;
    }
    .C28
    {
        font-size: 10px;
    }
    .C29
    {
        font-size: 10px;
    }
    .C30
    {
        font-size: 10px;
    }
    .C31
    {
        font-size: 10px;
    }
    .C32
    {
        font-size: 10px;
    }
    .C33
    {
        font-size: 10px;
    }
    .C34
    {
        font-size: 10px;
    }
    .C35
    {
        font-size: 10px;
    }
    .C36
    {
        font-size: 10px;
    }
    .C37
    {
        font-size: 10px;
    }
    .C38
    {
        font-size: 10px;
    }
    .C39
    {
        font-size: 10px;
    }
    .C40
    {
        font-size: 10px;
    }
    .C41
    {
        font-size: 10px;
    }
    .C42
    {
        font-size: 10px;
    }
    .C43
    {
        font-size: 10px;
    }
    .C44
    {
        font-size: 10px;
    }
    .C45
    {
        font-size: 10px;
    }
    .C46
    {
        font-size: 10px;
    }
    .C47
    {
        font-size: 10px;
    }
    .C48
    {
        font-size: 10px;
    }
    .C49
    {
        font-size: 10px;
    }
    .C50
    {
        font-size: 10px;
    }
    .C51
    {
        font-size: 10px;
    }
}