body
{
    background: image-set("ZS-Images/TZP.png") repeat;
    background-size: 50%;
    image-rendering: pixelated;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
.TZPDarken
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.75;
}
.eventTimer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Times;
    color: white;
    font-size: 100px;
    text-wrap: nowrap;
    text-align: center;
}
.portraitInformative
{
    display: none;
    font-family: Times;
}
.POIBackground
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgb(50, 0, 0), black, black, rgb(0, 0, 50), black);
}
.portraitInformative li
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    list-style: none;
    text-wrap: wrap;
    width: 80%;
    text-align: center;
}
.wrapper
{
    display: inline;
}
.homeButton
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    border: 2px solid white;
    background: transparent;
    font-family: Times;
}
.TheZenProject
{
    display: none;
}
.FLBackground
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(7.5px) contrast(1.1) sepia(0.3) brightness(1);
}
.FLTitle
{
    position: absolute;
    top: 3.75%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    display: none;
}
.TCTSText
{
    position: absolute;
    top: 3.75%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    color: rgb(200, 50, 50);
    font-size: 40px;
    display: none;
}
.boxSep
{
    position: absolute;
    top: 2%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    padding-top: 3.5%;
    background: transparent;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 20.6%;
    display: none;
}
.TZPMix
{
    position: absolute;
    top: 92%;
    left: 88%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-style: italic;
    font-size: 24px;
    text-wrap: nowrap;
    opacity: 0;
}
@media only screen and (max-width: 500px) {
    body {
        background: black;
    }
    .wrapper {
        display: none;
    }
    .portraitInformative {
        display: inline;
    }
    .TZPMix {
        display: none;
    }
}
@media only screen and (max-height: 500px) {
    body {
        background: image-set("ZS-Images/TZP.png") repeat;
        background-size: 50%;
        image-rendering: pixelated;
        padding: 0;
        user-select: none;
        overflow: hidden;
    }
    .eventTimer {
        font-size: 59.22px;
    }
    .TZPDarken {
        opacity: 0.5;
    }
    .wrapper {
        display: inline;
    }
    .portraitInformative {
        display: none;
    }
    .TCTSText {
        top: 2.75%;
        left: 22.75%;
        font-size: 16px;
    }
    .boxSep {
        top: -3.2%;
        width: 20%;
    }
    .FLTitle {
        position: absolute;
        top: 2.75%;
        left: 2.6%;
        font-size: 18px;
    }
    .TZPMix {
        top: 90%;
        left: 82%;
        font-size: 14px;
        display: inline;
    }
    .FLBackground {
        width: 100%;
        height: 100%;
    }
}