.body
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 100%;
}
.FeedbackButton
{
    position: absolute;
    top: 13%;
    left: 0.5%;
    font-family: Times;
    font-size: x-large;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}
.AGButton
{
    position: absolute;
    top: 13%;
    left: 8.5%;
    font-family: Times;
    font-size: x-large;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}
.TPbutton
{
    position: absolute;
    top: 13%;
    left: 17.75%;
    font-family: Times;
    font-size: x-large;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}
.MainTitle
{
    position: absolute;
    top: 1%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Times;
}
.TitleUnderline
{
    position: absolute;
    top: 8%;
    left: 0.5%;
    width: 99%;
    height: 0.25%;
    background: rgb(75, 75, 75);
}
.SubtitlesTop
{
    position: absolute;
    top: 20%;
    color: rgb(255, 255, 255);
    font-family: Arial;
}
.SubtitlesBottom
{
    position: absolute;
    top: 22.7%;
    color: rgb(255, 255, 255);
    font-family: Arial;
}

/*Media Separation*/

@media only screen and (max-width: 600px) {
    .wrapper
    {
        width: 600px;
        margin: 0 auto;
    }
    .FeedbackButton
    {
        top: 10%;
        left: 2%;
        font-size: 17px;
    }
    .AGButton
    {
        top: 10%;
        left: 23%;
        font-size: 17px;
    }
    .TPbutton
    {
        top: 10%;
        left: 47%;
        font-size: 17px;
    }
    .MainTitle
    {
        font-size: 30px;
    }
    .TitleUnderline
    {
        left: 2%;
        width: 96%;
        top: 5%;
    }
    .SubtitlesTop
    {
        top: 16%;
        left: 2%;
        font-size: 15px;
    }
    .SubtitlesBottom
    {
        top: 18.7%;
        left: 2%;
        font-size: 15px;
    }
}