body
{
    background: image-set("TZP.png") repeat;
    alt: "Ph4nt0mZStudios - The Zen Project Countdown";
    background-size: 50%;
    image-rendering: pixelated;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
.TZPDarken
{
    position: absolute;
    top: -2.5%;
    left: 0%;
    width: 101%;
    height: 101%;
    background: black;
    opacity: 0.75;
}
.eventTimer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Times;
    color: white;
    font-size: 100px;
    text-wrap: nowrap;
    text-align: center;
}
.portraitInformative
{
    display: none;
}
.POIBackground
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 106%;
    background: linear-gradient(black, rgb(50, 0, 0), black, black, rgb(0, 0, 50), black);
}
.portraitInformative li
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    list-style: none;
    text-wrap: wrap;
    width: 80%;
    text-align: center;
}
.wrapper
{
    display: inline;
}
.homeButton
{
    position: absolute;
    top: 87.3%;
    left: 1.2%;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    padding: 15px;
    border: 2px solid white;
    background: transparent;
}
.TheZenProject
{
    display: none;
}
.FLBackground
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(7.5px) contrast(1.1) sepia(0.3) brightness(1);
}
.FLTitle
{
    position: absolute;
    top: 1%;
    left: 0.25%;
    color: white;
    list-style: none;
    font-size: 40px;
    padding: 20px;
    line-height: 2.5px;
}
.TCTSText
{
    position: absolute;
    top: 1.4%;
    left: 22.4%;
    color: #0000FF;
    font-style: italic;
    font-size: 30px;
}
.boxSep
{
    position: absolute;
    top: -1%;
    left: 0.25%;
    padding-top: 3%;
    background: transparent;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 20.8%;
}
.TZPMix
{
    position: absolute;
    top: 92%;
    left: 84%;
    color: #0000FF;
    font-style: italic;
    font-size: 24px;
    opacity: 0.1;
}
@media only screen and (max-width: 900px) {
    body {
        background: black;
    }
    .wrapper {
        display: none;
    }
    .portraitInformative {
        display: inline;
    }
}
@media only screen and (max-height: 700px) {
    body {
        background: image-set("TZP.png") repeat;
        background-size: 50%;
        image-rendering: pixelated;
        padding: 0;
        user-select: none;
        overflow: hidden;
    }
    .eventTimer {
        font-size: 59.22px;
    }
    .TZPDarken {
        position: absolute;
        top: -5%;
        left: 0%;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    .wrapper {
        display: inline;
    }
    .portraitInformative {
        display: none;
    }
    .homeButton {
        top: -2.5%;
        font-size: 18px;
    }
}