body {
    background: black;
    overflow: hidden;
    user-select: none;
    padding: 0;
    margin: 0;

}
#wrapper {
    overflow: hidden;
}
#vidRR {
    position: absolute;
    width: 100vw;
    height: 100vh;
}