body {
    background: #000000;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#MainWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#BackgroundPrev, #Backgrounds {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#bgImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    opacity: 0.25;

    transition: all;
    transition-duration: 0.5s;
}
#TZPbg, #PFGbg, #Cbg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    opacity: 0.25;
    
    transition: all;
    transition-duration: 0.5s;
}
#TZPbg {
    image-rendering: pixelated;
}
#TZPB {
    margin-top: 0.5vw;
}
#MainWrapper p {
    margin-left: 1vw;
    list-style: none;
    font-size: 1.5vw;
    font-family: monospace;
    font-weight: bold;
}
#PN {
    color: #ffffff;
}
#TZPWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#eventTimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Times;
    color: #ffffff;
    font-size: 4vw;
    text-wrap: wrap;
    width: 90%;
    text-align: center;
}
#wrapper {
    display: inline;
}
#homeButton {
    position: absolute;
    bottom: -0.5vw;
    left: 0.5vw;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1vw;
    padding: 10px;
    border: 2px solid #ffffff;
    font-family: Times;
}
#TheZenProject {
    display: none;
}
#FLBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(7.5px) contrast(1.1) sepia(0.3) brightness(1);
}
#FLTitle {
    position: absolute;
    top: 3.75%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 40px;
    display: none;
}
#TCTSText {
    position: absolute;
    top: 3.75%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    color: rgb(200, 50, 50);
    font-size: 40px;
    display: none;
}
#boxSep {
    position: absolute;
    top: 2%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    padding-top: 3.5%;
    background: transparent;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 20.6%;
    display: none;
}
#TZPMix {
    position: absolute;
    top: 92%;
    left: 88%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-style: italic;
    font-size: 24px;
    text-wrap: nowrap;
    opacity: 0;
}
#TZPPadlock {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    margin-bottom: 0vw;
    margin-right: -1vw;
    width: 10vw;
}
#CodeInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.Input {
    position: absolute;
    overflow-y: hidden;
    top: 50%;
    left: 50%;
    margin-top: 11.05vh;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 1%;
    height: 3.4vh;
    width: 7.4vw;
    border-radius: 5px;
    align-content: center;
}
#Input2 {
    margin-left: -11.25vw;
}
#Input3 {
    margin-left: 11.25vw;
}
#VerifyButton {
    position: absolute;
    top: 71.5vh;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 5px;
    text-align: center;
    color: #AAAAAA;
    width: 31.6vw;
    border: 5px solid #000000;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: arial;
    font-size: 0.8vw;
    filter: drop-shadow(0px 0px 10px #000000);
    text-shadow: 0px 0px 10px #000000;
}
::-webkit-scrollbar {
    background: rgb(15, 15, 15);
}
::-webkit-scrollbar-thumb {
    background: rgb(25, 25, 25);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 20, 20);
    cursor: pointer;
}