body {
    background: image-set("../assets/images/TZP.png") repeat;
    background-size: 50%;
    image-rendering: pixelated;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
#TZPDarken {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.75;
}
#eventTimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Times;
    color: white;
    font-size: 50px;
    text-wrap: wrap;
    width: 90%;
    text-align: center;
}
#portraitInformative {
    display: none;
    font-family: Times;
}
#POIBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgb(50, 0, 0), black, black, rgb(0, 0, 50), black);
}
#portraitInformative li {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    list-style: none;
    text-wrap: wrap;
    width: 80%;
    text-align: center;
}
#wrapper {
    display: inline;
}
#homeButton {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    border: 2px solid white;
    background: transparent;
    font-family: Times;
}
#TheZenProject {
    display: none;
}
#FLBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(7.5px) contrast(1.1) sepia(0.3) brightness(1);
}
#FLTitle {
    position: absolute;
    top: 3.75%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    display: none;
}
#TCTSText {
    position: absolute;
    top: 3.75%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    color: rgb(200, 50, 50);
    font-size: 40px;
    display: none;
}
#boxSep {
    position: absolute;
    top: 2%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    padding-top: 3.5%;
    background: transparent;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 20.6%;
    display: none;
}
#TZPMix {
    position: absolute;
    top: 92%;
    left: 88%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-style: italic;
    font-size: 24px;
    text-wrap: nowrap;
    opacity: 0;
}
#TZPPadlock {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0%;
    margin-right: -1%;
    width: 10%;
}
#CodeInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.Input {
    position: absolute;
    overflow-y: hidden;
    top: 50%;
    left: 50%;
    margin-top: 8%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 1%;
    height: 2.8%;
    width: 11.5%;
    border-radius: 5px;
    outline: none;
}
#Input2 {
    margin-left: -17%;
}
#Input3 {
    margin-left: 17%;
}
#VerifyButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0.5%;
    transform: translate(-50%, -50%);
    background: green;
    padding: 15px;
    text-align: center;
    color: white;
    width: 45%;
    border: 5px solid darkgreen;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Courier New;
    filter: drop-shadow(0px 0px 10px black);
}
#POI1 {
    border-bottom: 300px solid transparent;
}
#POI2 {
    font-size: 16px;
    border-bottom: 200px solid transparent;
    color: gray;
}
#POI3 {
    font-size: 16px;
    border-top: 5px solid rgb(50, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 50);
    padding: 10px;
    border-radius: 25px;
}
@media only screen and (max-width: 600px) {
    body {
        background: black;
    }
    #wrapper {
        display: none;
    }
    #portraitInformative {
        display: inline;
    }
    #TZPMix {
        display: none;
    }
}
@media only screen and (max-height: 500px) {
    body {
        background: image-set("../assets/images/TZP.png") repeat;
        background-size: 50%;
        image-rendering: pixelated;
        padding: 0;
        user-select: none;
        overflow: hidden;
    }
    #TZPDarken {
        opacity: 0.5;
    }
    #wrapper {
        display: inline;
    }
    #portraitInformative {
        display: none;
    }
    #TCTSText {
        top: 2.75%;
        left: 22.75%;
        font-size: 16px;
    }
    #boxSep {
        top: -3.2%;
        width: 20%;
    }
    #FLTitle {
        position: absolute;
        top: 2.75%;
        left: 2.6%;
        font-size: 18px;
    }
    #TZPMix {
        top: 90%;
        left: 82%;
        font-size: 14px;
        display: inline;
    }
    #FLBackground {
        width: 100%;
        height: 100%;
    }
    #CodeInput {
        margin-top: -25%;
        margin-left: -26%;
        scale: 0.6;
    }
}