body {
    background: image-set("../assets/images/TZP.png") repeat;
    background-size: 50%;
    image-rendering: pixelated;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
#TZPDarken {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.75;
}
#eventTimer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Times;
    color: #ffffff;
    font-size: 4vw;
    text-wrap: wrap;
    width: 90%;
    text-align: center;
}
#portraitInformative {
    display: none;
    font-family: Times;
}
#POIBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000, #320000, #000000, #000000, #000032, #000000);
}
#portraitInformative li {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #ffffff;
    list-style: none;
    text-wrap: wrap;
    width: 80%;
    text-align: center;
}
#wrapper {
    display: inline;
}
#homeButton {
    position: absolute;
    bottom: -0.5vw;
    left: 0.5vw;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1vw;
    padding: 10px;
    border: 2px solid #ffffff;
    font-family: Times;
}
#TheZenProject {
    display: none;
}
#FLBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(7.5px) contrast(1.1) sepia(0.3) brightness(1);
}
#FLTitle {
    position: absolute;
    top: 3.75%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 40px;
    display: none;
}
#TCTSText {
    position: absolute;
    top: 3.75%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    color: rgb(200, 50, 50);
    font-size: 40px;
    display: none;
}
#boxSep {
    position: absolute;
    top: 2%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    padding-top: 3.5%;
    background: transparent;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 20.6%;
    display: none;
}
#TZPMix {
    position: absolute;
    top: 92%;
    left: 88%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-style: italic;
    font-size: 24px;
    text-wrap: nowrap;
    opacity: 0;
}
#TZPPadlock {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    margin-bottom: 0vw;
    margin-right: -1vw;
    width: 10vw;
}
#CodeInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.Input {
    position: absolute;
    overflow-y: hidden;
    top: 50%;
    left: 50%;
    margin-top: 6.3vw;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 1%;
    height: 2.3vw;
    width: 9.4vw;
    border-radius: 10px;
    align-content: center;
}
#Input2 {
    margin-left: -13.55vw;
}
#Input3 {
    margin-left: 13.55vw;
}
#VerifyButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0.4vw;
    transform: translate(-50%, -50%);
    background: green;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    width: 36.4vw;
    border: 5px solid darkgreen;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Courier New;
    filter: drop-shadow(0px 0px 10px #000000);
}
#POI1 {
    border-bottom: 300px solid transparent;
}
#POI2 {
    font-size: 16px;
    border-bottom: 200px solid transparent;
    color: gray;
}
#POI3 {
    font-size: 16px;
    border-top: 5px solid #320000;
    border-bottom: 5px solid #000032;
    padding: 10px;
    border-radius: 25px;
}
@media only screen and (max-height > max-width) {
    body {
        background: #000000;
    }
    #wrapper {
        display: none;
    }
    #portraitInformative {
        display: inline;
    }
    #TZPMix {
        display: none;
    }
}